.burger {
    width: 100%;
    margin: auto;
    height: 250px;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    -ms-overflow-style: none; /*hide scroll Bar for IE*/
}
.burger::-webkit-scrollbar { 
    display: none;  /*hide scroll Bar for chrome and opera, for FF must use JS code*/
 } 

@media (min-width:500px) and (max-height: 400px){
    .burger{
        width: 350px;
        height: 300px;
    }
}
@media (min-width:500px) and (min-height: 401px){
    .burger{
        width: 450px;
        height: 400px;
    }
}
@media (min-width:1000px) and (min-height: 700px){
    .burger{
        width: 700px;
        height: 600px;
    }
}